.categoryName {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.breadcrumb {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-right: 40px;
  text-decoration: none;
}