.itemCard {
  width: 22%;
  text-decoration: none;
}

/* removes padding for last card */
.itemCard:not(:last-child) {
  padding-right: 40px;
}

.itemName {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
  color: black;
}

.itemCategory {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.itemPrice {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
}

.categoryImg {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.colorCircle {
  width: 45%;
}

.heroContainer {
  position: relative;
  text-align: center;
  color: white;
}

/* text overlay inspiration from https://www.w3schools.com/howto/howto_css_image_text.asp */
.topRight {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 8%;
  cursor: pointer;
}

.bottomRight {
  position: absolute;
  bottom: 45px;
  right: 16px;
}

.addToCart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.pink {
  background-color: #F8CCBD;
}

.black {
  background-color: #000000;
}

.purple {
  background-color: #C2AFCE;
}

.red {
  background-color: #D03B49;
}

.noUnderline {
  text-decoration: none;
}

.noUnderline:hover {
  text-decoration: underline;
  text-decoration-color: black;
}