@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}


.green {
  color: #96D231 !important;
}

.gray {
  color: #A7A7A7;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers-row {
  display: flex;
}

.dropdown-row {
  margin-top: 40px;
  margin-bottom: 30px;
}

.breadcrumb {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-right: 40px;
}

.content-container {
  margin: 70px 5% 0 5%;
}

.content-breadcrumb-container {
  margin: 50px 5% 0 5%;
}

.category-name-container {
  margin-bottom: 30px;
}

.category-name {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.dropdown {
  border: 1px solid #96D231;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #96D231;
  padding: 15px 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.breadcrumb {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-right: 40px;
  text-decoration: none;
}

.breadcrumb-row {
  display: flex;
  margin-bottom: 30px;
}